{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="//fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <style>
<!--        table {-->
<!--          font-family: arial, sans-serif;-->
<!--          border-collapse: collapse;-->
<!--          width: 100%;-->
<!--        }-->

<!--        td, th {-->
<!--          border: 1px solid #dddddd;-->
<!--          text-align: left;-->
<!--          padding: 8px;-->
<!--        }-->

<!--        tr:nth-child(even) {-->
<!--          background-color: #dddddd;-->
<!--        }-->
        </style>
        <title>SEMMA FES</title>
    </head>
    <body>
        <header class="page-header">
          <div class="container">
              <a href="{% url 'fill_form' %}" class="top-menu">
                  {% include './icons/semma_logo.svg' %}
              </a>
              <h1><a href="/">SEMMA Freshmen Enrollment System</a></h1>
          </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>