{% extends 'billboard/base_view.html' %}

{% block content %}
    <h2>Professor Information</h2>
    <h5>Note: For multiple values (e.g. Contact: 099xxxxxxxx, 098xxxxxxxx), separate by inputting the next value on the next line.</h5>
    <form method="POST" class="info-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="save btn btn-default" value="SAVE">
    </form>
{% endblock %}



<!--                <time>published: {{ post.published_date }}</time>-->
<!--                <h2><a href="">{{ post.title }}</a></h2>-->
<!--                <p>{{ post.text|linebreaksbr }}</p>-->