{% extends 'billboard/base_view.html' %}

{% block content %}
    <article class="main_table">
        <div class="table_container">
            <table>
                <tr>
                    <th>Professor</th>
                    <th>Subject</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Social Media</th>
                    <th>Date Updated</th>
                </tr>
                    {% for data in data_info %}
                        <tr>
                            <td><a href="{% url 'billboard:info_detail' pk=data.pk %}">{{ data.professor_data }}</a></td>
                            <td>
                                {{ data.subject_data }}<br>
                            </td>
                            <td>
                                {{ data.contact_data }}<br>
                            </td>
                            <td>
                                {{ data.email_data }}<br>
                            </td>
                            <td>
                                {{ data.social_data }}<br>
                            </td>
                            <td>{{ data.up_date }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </article>
{% endblock %}