{% load static %}

{# JQuery and Bootstrap #}
{% comment %}<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>{% endcomment %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{# Imported Third Party Scripts #}
<script src="{% static 'js/scripts.js' %}"></script>

{# Scripts from cdn #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
{% comment %}<script src="assets/demo/chart-area-demo.js"></script>{% endcomment %}
{% comment %}<script src="assets/demo/chart-bar-demo.js"></script>{% endcomment %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
{% comment %}<script src="assets/demo/datatables-demo.js"></script>{% endcomment %}

{# Scripts for Axios #}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


