{% extends 'billboard/base_view.html' %}

{% block billboard_content %}
<div class="form_container">
    <h1 class="title_text">Edit Information</h1>
    <h5>Note: For multiple values (e.g. Contact: 099xxxxxxxx, 098xxxxxxxx), separate by inputting the next value on the next line.</h5>
        <form method="POST" class="info-form">{% csrf_token %}
            <h2 class="form_header">Professor:</h2>
                <h4 class="form_data">{{ form.professor_data }}</h4><br>
            <h3 class="form_header">Subject:</h3>
                <h4 class="form_data">{{ form.subject_data }}</h4><br>
            <h3 class="form_header">Contact Number:</h3>
                <h4 class="form_data">{{ form.contact_data }}</h4><br>
            <h3 class="form_header">Email:</h3>
                <h4 class="form_data">{{ form.email_data }}</h4><br>
            <h3 class="form_header">Social Media:</h3>
                <h4 class="form_data">{{ form.social_data }}</h4><br>
        <input style="float: left" type="submit" class="save btn btn-save" value="SAVE">
    </form>
</div>
{% endblock billboard_content %}



<!--                <time>published: {{ post.published_date }}</time>-->
<!--                <h2><a href="">{{ post.title }}</a></h2>-->
<!--                <p>{{ post.text|linebreaksbr }}</p>-->