{% extends 'billboard/base_view.html' %}
{% load static %}

{% block billboard_content %}
<div class="info_container">
    <h1 class="title_text">Professor's Information</h1>
    <aside class="actions">
        {% if user.is_authenticated %}
            <a class="btn btn-detail" href="{% url 'billboard:info_edit' pk=data_info.pk %}">
                <img src="{% static 'images/icons/pencil-fill.svg' %}" alt="EDIT"/>
            </a>
            <a class="btn btn-detail" href="{% url 'billboard:info_remove' pk=data_info.pk %}">REMOVE</a>
        {% endif %}
    </aside>
    <h3>Date Updated:</h3>
        <h4>{{ data_info.up_date }}</h4><br>
    <h2 class="info_header">Professor:</h2>
        <h4 class="info_data">{{ data_info.professor_data }}</h4><br>
    <h3 class="info_header">Subject:</h3>
        <h4 class="info_data">{{ data_info.subject_data|linebreaksbr }}</h4><br>
    <h3 class="info_header">Contact Number:</h3>
        <h4 class="info_data">{{ data_info.contact_data|linebreaksbr }}</h4><br>
    <h3 class="info_header">Email:</h3>
        <h4 class="info_data">{{ data_info.email_data|linebreaksbr }}</h4><br>
    <h3 class="info_header">Social Media:</h3>
        <h4 class="info_data">{{ data_info.social_data|linebreaksbr }}</h4><br>
</div>
{% endblock billboard_content %}